- content_for :title do
  %title= title_with_name('autonomous')
- content_for :header do
  = stylesheet_link_tag 'positioning'
- unless @kind.nil? then
  - content_for :scripts do
    = javascript_include_tag "autonomous/#{@kind}"

- content_for :leftbar do
  %p please select activity
  %div
    %ul
      - @kinds.each do |kind|
        %li
          %a{:href => "/autonomous/#{kind}"}= kind

- unless @kind.nil? then
  %div{:id => 'content'}
