- content_for :title do
  %title= title_with_name('circuit')
- content_for :header do
  = stylesheet_link_tag 'positioning'
- unless @kind.nil? then
  - content_for :scripts do
    = javascript_include_tag 'jquery.ui.core.min'
    = javascript_include_tag 'jquery.ui.widget.min'
    = javascript_include_tag 'jquery.ui.mouse.min'
    = javascript_include_tag 'jquery.ui.draggable.min'
    = javascript_include_tag 'excanvas'
    = javascript_include_tag @kind

- content_for :leftbar do
  %p please push to start
  %div
    %ul
      - @kinds.each do |kind|
        %li
          %a{:href => "/circuit/#{kind}"}= kind
- unless @kind.nil? then
  #content
  #data
