- content_for :title do
  %title= title_with_name('feild')
- content_for :leftbar do
  %p please push to locate
- content_for :scripts do
  = javascript_include_tag 'processing'
  = javascript_include_tag 'excanvas'
  = javascript_include_tag 'processing_init'
  %script{:id => @kind, :type => 'application/processing'}
    = `cat views/processing/#{@kind}.processing`
  %script{:type => 'text/javascript'}
    = "window.onload = function(){init('#{@kind}');};"
  

%div{:id => 'stage'}
