- content_for :header do
  = stylesheet_link_tag 'lattice'
- content_for :scripts do
  = javascript_include_tag 'prototype'
  = javascript_include_tag 'lattice'
- content_for :title do
  %title= title_with_name('item matrix')
- content_for :leftbar do
  %p please see matrix

%table
  %tbody
    - 4.times do |i|
      %tr
        - 6.times do |j|
          %td{:id => "#{i}-#{j}", :class => 'none'}
%div{:id => 'items'}
  - @items.each_with_index do |item, idx|
    %div{:id => "item#{idx}", :class => 'item'}
      %a{:href => item.url, :alt => item.name, :onmouseover => "popup('popup#{idx}', event)", :onmouseout => "popdown('popup#{idx}')" }= image_tag(item.img)
      %div{:id => "popup#{idx}", :class => 'bubble'}
        %p{:class => 'description'}= item.name
