!!!
%html
  %head
    %meta{'http-equiv' => 'content',:content => 'text/html; charset=utf-8'}
    %link{:rel => 'shortcut icon', :href => "favicon.ico", :type => "image/x-icon"}
    = javascript_include_tag 'prototype'
    = stylesheet_link_tag 'common'
    != yield_content :header
    != yield_content :title
  %body
    #header.navi
      %h1 something fun @cowplace
    #navigation.navi
      != yield_content :navigation
    #leftbar.navi
      != yield_content :leftbar
    #wrapper
      #status
        != yield_content :status
      #main
        != yield
    #footer.navi
      %p copyleft (c) 2010 cowplace all rights reversed.
