- content_for :header do
  = stylesheet_link_tag 'list'
- content_for :title do
  %title= title_with_name('visualized list')
- content_for :leftbar do
  %p please see array in style of tree
- content_for :status do
  %p= "#{@kinds.inspect} is below ... "

= list2table(@kinds)
