- content_for :header do
  = javascript_include_tag 'processing'
  = javascript_include_tag 'excanvas'
  = javascript_include_tag 'processing_init'
  - @kinds.each do |kind|
    %script{:id => kind, :type => 'application/processing'}
      = `cat views/processing/#{kind}.processing`
- content_for :title do
  %title= title_with_name('multi particles')
- content_for :navigation do
  = breadcrumb_list([:top, :multi_particles])
- content_for :leftbar do
  %p please push to start
  %div
    %ul
      - @kinds.each do |kind|
        %li
          %a{:href => '#', :onclick => "init('#{kind}');"}= kind

%div{:id => 'canvas_field'}
