- content_for :header do
  = javascript_include_tag 'sort'
  = stylesheet_link_tag 'sort'
- content_for :title do
  %title= title_with_name('visualized sorting algorithm')
- content_for :navigation do
  = breadcrumb_list([:top, :visualized_sorting_algorithm])
- content_for :leftbar do
  %p please select sorting algorithm
  %ul
    - @kinds.each do |key, val|
      %li
        %a{:href => "#", :onclick => "sort('#{key}')"}= val
